header{
    text-align: center;
  
   
    
}
ul{
    color: white;
}
#boat1{
    color: white;
    width: 600px;
    display: inline-block;
    text-align: center;  
}
#boat2{
  color: white;
    width: 600px;
    display: inline-block;
    text-align: center;
}
#boat3{
  color: white;
    width: 600px;
    display: inline-block;
    text-align: center;
}
#goat1{
   display: inline-block;
    text-align: center;
    width: 600px;

}
#goat2{
   display: inline-block;
    text-align: center;
    width: 600px;

}
#goat3{
   display: inline-block;
    text-align: center;
    width: 600px;

}

body{
    background-color: #008584;

}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #008584;
  position: fixed;
  top: 0;
  width: 99%;
}
#float{
  float: left;
  border-right: 1px solid #bbb;
}
#float a{
  display: block;
  background-color: #008584;
  padding: 8px;
  color: white;
  text-decoration: none;
}
#float a:hover:not(.active){
  background-color: #006666;
}
.active{
  background-color: gray;
  color: gray;
}
#float:last-child{
  border-right: none;
}
#palestrantes{
  text-align: center;
}
#pales{
  text-align: center;
  color: white;
}
footer{
  text-align: center;
  color: white;
}
h2{
  color: white;
}


